CREATE TABLE [[${definition.DBO_SCHEMA}]].%__TABLE_PLACEHOLDER__% (
  ID              INT           PRIMARY KEY NOT NULL AUTO_INCREMENT,
  --TODO: ADD MORE COLUMNS HERE
  --NAME          VARCHAR(255) NOT NULL,
  CREATED_BY      VARCHAR(64)   NOT NULL,
  CREATED_ON      TIMESTAMP     DEFAULT CURRENT_TIMESTAMP,
  MODIFIED_BY     VARCHAR(64)   NOT NULL,
  MODIFIED_ON     TIMESTAMP     DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  IS_DELETED      BOOLEAN       DEFAULT FALSE NOT NULL
);
